<a href="https://colab.research.google.com/github/divyagainer/Python-Projects/blob/main/Pandas_Assignment_Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [1]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [3]:
a = pd.Series([ 100, 200, 300, 400])

Print a, and data type

In [4]:
print(a)
print(a.dtype)

0    100
1    200
2    300
3    400
dtype: int64
int64

Using indexing access the element 300 from the series a.

In [5]:
element_300 = a [2]
print(element_300)

300

What are the values of index for series a?

In [7]:
#0 for the value 100
#1 for the value 200
#2 for the value 300
#3 for the value 400

Change the index to  ['c', 'a', 'b', 'd']

In [8]:
a.index = ['c', 'a', 'b', 'd']

Access the value in the series with index 'd'

In [9]:
print(a['d'])

400

Sort the values wrt to the index and print it

In [11]:
sorted_a = a.sort_index()
print(sorted_a)

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [2]:
import pandas as pd

b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [3]:
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
a = pd.Series([ 100, 200, 300, 400])
a

0    100
1    200
2    300
3    400
dtype: int64

In [4]:
#print a again after appending b into it
a = pd.concat([a, b])
print(a)

0    100
1    200
2    300
3    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [5]:
a = a.sort_values(ascending=False)
print(a)

e    800
f    450
3    400
2    300
1    200
0    100
g    100
dtype: int64

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [7]:
df =  pd.DataFrame(a)
print(df)

     0
e  800
f  450
3  400
2  300
1  200
0  100
g  100

What is the shape of the datafarme <br>
(also, what does it imply?)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [8]:
df = pd.DataFrame(a)
print(df.head())
print(df.tail())

     0
e  800
f  450
3  400
2  300
1  200
     0
3  400
2  300
1  200
0  100
g  100

Rename the column of the dataframe as 'points'

In [9]:
df.rename(columns={0: 'points'}, inplace=True)
print(df)

   points
e     800
f     450
3     400
2     300
1     200
0     100
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [13]:
#Create fruits array

import numpy as np
import pandas as pd

# List of fruits
fruit_choices = ['orange', 'mango', 'apple']

# Create a Series with 7 random selections from the list
fruits_array = pd.Series(np.random.choice(fruit_choices, size=7))
fruits = pd.Series(fruits_array)
print(fruits)

0     mango
1     apple
2     mango
3     mango
4     apple
5     apple
6    orange
dtype: object

In [14]:
#Create series fruits out of fruits array

fruits = pd.Series(fruits_array)
print(fruits)

0     mango
1     apple
2     mango
3     mango
4     apple
5     apple
6    orange
dtype: object

Change the index of fruits to the index of dataframe df

In [15]:
fruits.index = df.index
print(fruits)

e     mango
f     apple
3     mango
2     mango
1     apple
0     apple
g    orange
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [16]:
df['fruits']  = fruits
print(df.head())

   points fruits
e     800  mango
f     450  apple
3     400  mango
2     300  mango
1     200  apple

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [21]:
import pandas as pd
d1 = {'city' :['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
      'Temperature' : [15,22,20,26,-2]}
df = pd.DataFrame(d1)

Print(d1)

In [22]:
print(d1)

{'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2]}

What is the shape of d1.

In [25]:
import pandas as pd

# Create the DataFrame
d1 = pd.DataFrame({
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 20, 26, -2]
})

# Get the shape of the DataFrame
shape_of_d1 = d1.shape
print(shape_of_d1)

(5, 2)

Set city = d1['city']

In [26]:
city = d1['city']
print(city)

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

print city <br>
What is the type of city.

In [27]:
print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [31]:
import pandas as pd
d2 = {'city' : ['Bengalaru','Coimbatore','Srirangam','Pondicherry'],
      'Temperature' : [24,35,36,39]}
df = pd.DataFrame(d2)

print the shape of this dataframe

In [34]:
import pandas as pd

# Create the DataFrame
d2 = pd.DataFrame({
    'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [24, 35, 36, 39]
})

# Print the shape of the DataFrame d2
print(d2.shape)

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [39]:
d3 = pd.concat([d1,d2], ignore_index = True)
print(d3)

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengaluru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [40]:
# Select cities where Temperature is less than or equal to 20
cities_below_or_equal_20 = d3[d3['Temperature'] <= 20]

# Print the filtered DataFrame
print(cities_below_or_equal_20)

# Print the number of cities
num_cities = cities_below_or_equal_20.shape[0]
print(f"Number of cities with temperature <= 20: {num_cities}")

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2
Number of cities with temperature <= 20: 3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [42]:
cities_greater_than_or_equal_35 = d3[d3['Temperature']>= 35]
print(cities_greater_than_or_equal_35)

          city  Temperature
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [43]:
import pandas as pd

# Create DataFrame d1
d1 = pd.DataFrame({
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 20, 26, -2]
})

# Create DataFrame d2
d2 = pd.DataFrame({
    'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [24, 35, 36, 39]
})

# Merge the two DataFrames
d3 = pd.concat([d1, d2], ignore_index=True)

# Define union territories
union_territories = {'Chandigarh', 'Pondicherry', 'Delhi'}

# Create a new column 'Is_Union_Territory'
d3['Is_Union_Territory'] = d3['city'].apply(lambda x: x in union_territories)

# Print the updated DataFrame
print(d3)

          city  Temperature  Is_Union_Territory
0   Chandigarh           15                True
1        Delhi           22                True
2       Kanpur           20               False
3      Chennai           26               False
4       Manali           -2               False
5    Bengaluru           24               False
6   Coimbatore           35               False
7    Srirangam           36               False
8  Pondicherry           39                True

In [44]:
# print d3
print(d3)

          city  Temperature  Is_Union_Territory
0   Chandigarh           15                True
1        Delhi           22                True
2       Kanpur           20               False
3      Chennai           26               False
4       Manali           -2               False
5    Bengaluru           24               False
6   Coimbatore           35               False
7    Srirangam           36               False
8  Pondicherry           39                True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [45]:
import pandas as pd

# Define the conversion function
def c_to_f(celsius):
    return celsius * 9/5 + 32

# Create DataFrame d1
d1 = pd.DataFrame({
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 20, 26, -2]
})

# Create DataFrame d2
d2 = pd.DataFrame({
    'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [24, 35, 36, 39]
})

# Merge the two DataFrames
d3 = pd.concat([d1, d2], ignore_index=True)

# Define union territories
union_territories = {'Chandigarh', 'Pondicherry', 'Delhi'}

# Add 'Is_Union_Territory' column
d3['Is_Union_Territory'] = d3['city'].apply(lambda x: x in union_territories)

# Add 'Temperature_Fahrenheit' column
d3['Temperature_Fahrenheit'] = d3['Temperature'].apply(c_to_f)

# Print the updated DataFrame
print(d3)

          city  Temperature  Is_Union_Territory  Temperature_Fahrenheit
0   Chandigarh           15                True                    59.0
1        Delhi           22                True                    71.6
2       Kanpur           20               False                    68.0
3      Chennai           26               False                    78.8
4       Manali           -2               False                    28.4
5    Bengaluru           24               False                    75.2
6   Coimbatore           35               False                    95.0
7    Srirangam           36               False                    96.8
8  Pondicherry           39                True                   102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [46]:
# Define union territories
union_territories = {'Chandigarh', 'Pondicherry', 'Delhi'}

# Add 'Is_Union_Territory' column
d1['Is_Union_Territory'] = d1['city'].apply(lambda x: x in union_territories)

# Select subset where city is a union territory
union_territory_subset = d1[d1['Is_Union_Territory']]

# Print the subset DataFrame
print(union_territory_subset)

         city  Temperature  Is_Union_Territory
0  Chandigarh           15                True
1       Delhi           22                True

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [47]:
# Add 'Temperature_Fahrenheit' column
d1['Temperature_Fahrenheit'] = d1['Temperature'].apply(c_to_f)

# Select subset where Temperature_Fahrenheit is above 90
hot_cities_subset = d1[d1['Temperature_Fahrenheit'] > 90]

# Print the subset DataFrame
print(hot_cities_subset)

Empty DataFrame
Columns: [city, Temperature, Is_Union_Territory, Temperature_Fahrenheit]
Index: []

Select only the first three rows of the dataframe d1.

In [48]:
d1.head(3)

         city  Temperature  Is_Union_Territory  Temperature_Fahrenheit
0  Chandigarh           15                True                    59.0
1       Delhi           22                True                    71.6
2      Kanpur           20               False                    68.0

Select all the rows and last two columns in the dataframe.

## Groupby

In [61]:
# Create a dataframe using dictionary of your choice

import pandas as pd

# Create a dictionary
data = {
    'Product': ['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Accessories'],
    'Price': [1200, 800, 300, 150, 200]
}

# Create the DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Product     Category  Price
0      Laptop  Electronics   1200
1  Smartphone  Electronics    800
2      Tablet  Electronics    300
3  Headphones  Accessories    150
4  Smartwatch  Accessories    200

In [50]:
# Use Groupby of single column with aggregate sum()
df = df.groupby('Category')['Price'].sum()
print(df)

Category
Accessories     350
Electronics    2300
Name: Price, dtype: int64

In [53]:
# Use Groupby of single column with aggregate count()
df = df.groupby('Category')['Price'].count()
print(df)

Category
Accessories    2
Electronics    3
Name: Price, dtype: int64

In [56]:
# Use Groupby of single column with aggregate min() and max()
df = df.groupby('Category')['Price'].agg(['min', 'max'])
print(df)

             min   max
Category
Accessories  150   200
Electronics  300  1200

In [59]:
# Use Groupby of any 2 columns with aggregate mean()
df = df.groupby(['Category', 'Product'])['Price'].mean()
print(df)

Category     Product
Accessories  Headphones     150.0
             Smartwatch     200.0
Electronics  Laptop        1200.0
             Smartphone     800.0
             Tablet         300.0
Name: Price, dtype: float64

In [62]:
# Use Groupby of any 2 columns with aggregate min() and max()
df = df.groupby(['Category', 'Product'])['Price'].agg(['min', 'max'])
print(df)

                         min   max
Category    Product
Accessories Headphones   150   150
            Smartwatch   200   200
Electronics Laptop      1200  1200
            Smartphone   800   800
            Tablet       300   300

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [63]:
import pandas as pd

# Create a DateRange from January 1, 2020 to April 1, 2021
a = pd.date_range(start='2020-01-01', end='2021-04-01')

print a

In [64]:

# Print the DateRange
print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [65]:
a = pd.date_range(start='2020-01-01', end='2021-04-01')
print(len(a))

457

What is the type of a?

In [67]:
print(type(a))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>