<a href="https://colab.research.google.com/github/divyagainer/Python-Projects/blob/main/Python_Basics_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [ ]:
# What is your name! print your name!
# Only use one print function
print("My name is Divya")

My name is Divya

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [ ]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh = 7
z = 6
rohan = 5
longitude = 4

# Print the variables to confirm their values
print("mukesh =", mukesh)
print("z =", z)
print("rohan =", rohan)
print("longitude =", longitude)

mukesh = 7
z = 6
rohan = 5
longitude = 4

In [ ]:
# print required variable
# output - 5
print(rohan)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [ ]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
ur_last_name = "Manral"

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [ ]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(ur_age)
print(ur_weight)
print(ur_first_name)
print(ur_last_name)

21
50.6
Mukesh
Manral

In [ ]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'

# Print the variables to confirm their values
print("ur_first_name =", ur_first_name)
print("ur_last_name =", ur_last_name)
# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name
TrueOrFalse = (ur_last_name == ur_first_name)
print("TrueOrFalse =", TrueOrFalse)

ur_first_name = Mukesh
ur_last_name = Mukesh
TrueOrFalse = True

In [ ]:
# define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [ ]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string

# **`Arithmetic Operators`**

In [ ]:
# add x and z
x = 777
z = 6

# Add x and z
result = x + z

# Print the result
print(result)

783

In [ ]:
# subtract z and y
z = 6
y = 77

# subtract z and y
result = z - y

# Print the result
print(result)

-71

In [ ]:
# Multiply x and z
x = 777
z = 6

# Multiply x and z
result = x * z

# Print the result
print(result)

4662

In [ ]:
# Exponent (raise the power or times) x times z
x = 777
z = 6

# Exponent (raise the power or times) x times z
result = x ** z

# Print the result
print(result)

220052401647189489

In [ ]:
# division on x and z
x = 777
z = 6

# division on x and z
result = x / z

# Print the result
print(result)

129.5

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [ ]:
# floor division(ignores decimal) on x and z (gives quotient)
x = 777
z = 6

# floor division(ignores decimal) on x and z (gives quotient)
result = x // z

# Print the result
print(result)

129

In [ ]:
# Modulo(gives remainder) on x and z
x = 777
z = 6

# Modulo(gives remainder) on x and z
result = x % z

# Print the result
print(result)

3

# **`Comparison Operators`**

In [ ]:
# comapre and see if x is less then z
# can use '<' symbol
x = 777
z = 6

# comapre and see if x is less then z
result = x < z

# Print the result
print(result)

False

In [ ]:
# check the type of above comaprison where it says comapre and see if x is less then z
x = 777
z = 6

# comapre and see if x is less then z
result = x < z

# Print the result
print(type(result))

<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [ ]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x = 777
z = 6

# compare and see if x is less then or equall to z
result = x <= z

# Print the result
print(result)

False

In [ ]:
# comapre and see if x equall to z
# can use '==' symbol
x = 777
z = 6

# comapre and see if x equall to z
result = x == z

# Print the result
print(result)

False

In [ ]:
# comapre and see if x is greater than z
# can use '>' symbol
x = 777
z = 6

# comapre and see if x is greater than z
result = x > z

# Print the result
print(result)

True

In [ ]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x = 777
z = 6

# comapre and see if x is greater than or equall to z
result = x >= z

# Print the result
print(result)

True

In [ ]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
x = 777
z = 6

# comapre and see if x is Not equall to z
result = x != z

# Print the result
print(result)

True

# **`Logical Operators`**

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and
# Perform the comparisons and use logical and
result = (108 == 108) and (21 == 21)

# Print the result
print(result)
# in and both condition must be True to get a True

True

In [ ]:
# how above condition can give False as output show all those conditions
# Perform comparisons with at least one condition being False
result1 = (108 == 107) and (21 == 21)   # First condition is False
result2 = (108 == 108) and (21 == 20)   # Second condition is False
result3 = (108 == 107) and (21 == 20)   # Both conditions are False

# Print the results
print("Result when first condition is False:", result1)
print("Result when second condition is False:", result2)
print("Result when both conditions are False:", result3)

Result when first condition is False: False
Result when second condition is False: False
Result when both conditions are False: False

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or
# Perform the comparisons and use logical or
result = (108 == 108) or (21 == 11)

# Print the result
print(result)

# in or Only one condition need to be True to get a True

True

In [ ]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [ ]:
# make variable with value as : money 100000

# see output of money > 2000
# Create the variable money
money = 100000

# Check if money is greater than 2000
result = money > 2000

# Print the result
print(result)

True

In [ ]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working
money = 10000
if money > 1000:
  print("You have enough money for the Data Science course.")
else:
  print("You do not have enough money for the Data Science course.")

You have enough money for the Data Science course.

In [ ]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you
test_score = 80
if test_score > 80:
  print("A grade")
elif test_score > 60:
  print("B grade")
else:
  print("Nothing for you")

B grade

# **`Python Loops`**

In [ ]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [ ]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print 'I love sports' 10 times using for loop
for i in range (10):
  print("I love Sports")

I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [ ]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [ ]:
# while loop

# save 0 in variable number

# print till 10 using while loop
number = 0
while number <= 10:
  print(number)
  number += 1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [ ]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5
# Using a for loop with break
for num in range(10):
    print("The number is", num)
    if num == 5:
        break  # Exit the loop when num equals 5

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

# **`Continue Statement`**

In [ ]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5
# Using a for loop with break
for num in range(10):
    print("The number is", num)
    if num == 5:
        continue  # Exit the loop when num equals 5

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5
The number is 6
The number is 7
The number is 8
The number is 9

# **`String Manipulation`**

In [ ]:
string_ = '' or "" or """ """

In [ ]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"
string = "We are creating next generation data science eco-system at CollegeRanker"

In [ ]:
# Find length of string including spaces string(leg)
length_of_string = len(string)
print(length_of_string)

72

In [ ]:
# Access characters in a string with indexing i.e string[0]
string[0]

'W'

In [ ]:
# Access characters with negative indexing i.e string[-1]
string[-1]

'r'

# String Slicing

In [ ]:
# select string from first to 6th element i.e string[:6]
string[:6]

'We are'

In [ ]:
# select string from 7th to negative 10th element i.e string[7:-10]
string[7:-10]

'creating next generation data science eco-system at Col'

Count of a particular `character` in a string

In [ ]:
count = string.count('a')
print(count)

7

Count of a particular `sub-string` in a string

In [ ]:
substring_to_count = "eco"
count = string.count(substring_to_count)
print(count)

1

Find a substring in string using `find` and `index` function

In [ ]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error

# Define the string variable
message = "We are creating next generation data science eco-system at CollegeRanker"

# Define the substring to find
substring_to_find = "eco"
substring_to_index = "data"

# Using .find() method
find_index = message.find(substring_to_find)
print(f".find(): The substring '{substring_to_find}' is found at index {find_index}.")

# Using .index() method
try:
    index_index = message.index(substring_to_index)
    print(f".index(): The substring '{substring_to_index}' is found at index {index_index}.")
except ValueError:
    print(f".index(): The substring '{substring_to_index}' is not found.")

.find(): The substring 'eco' is found at index 45.
.index(): The substring 'data' is found at index 32.

In [ ]:
### Checking whether string `startswith` or `endswith` a particular substring or not
# Define the string variable
message = "We are creating next generation data science eco-system at CollegeRanker"

# Define substrings to check
start_substring = "We are"
end_substring = "CollegeRanker"

# Using .startswith() method
starts_with = message.startswith(start_substring)
print(f"Starts with '{start_substring}': {starts_with}")

# Using .endswith() method
ends_with = message.endswith(end_substring)
print(f"Ends with '{end_substring}': {ends_with}")

Starts with 'We are': True
Ends with 'CollegeRanker': True

In [ ]:
### Converting string to upper case ###
string.upper()

'WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER'

In [ ]:
### Converting only first character of string to upper case
string.capitalize()

'We are creating next generation data science eco-system at collegeranker'

In [ ]:
### Checking if string is in lower case or upper case
string.islower()

False

In [ ]:
### Checking if string is digit, alpabetic, alpha-numeric
print(string.isdigit())
print(string.isalpha())
print(string.isalnum())

False
False
False

In [ ]:
# assign "C++ is easy to learn" to a new_str variable
new_str = "C++ is easy to learn"

In [ ]:
### Replace C++ with Python
new_str.replace("C++", "Python")

'Python is easy to learn'

In [ ]:
### Use Split function on new_str ###
new_str.split()

['C++', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [ ]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [ ]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'
def welcome_message(name):
  print("Welcome to Functions !!!")

In [ ]:
# call a function with your name
welcome_message("Sanket")

Welcome to Functions !!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [ ]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable
def add_two_numbers():
  a = 3
  b = 4
  total = a + b
  print(total)

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [ ]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number
def substraction_function(small_number,large_number):
  difference = large_number - small_number
  return difference

In [ ]:
# pass arguments in right order
substraction_function(10,20)

10

In [ ]:
# always pass arguments using there name(keyword arguments) then order does not matter
substraction_function(large_number=20,small_number=10)

10

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [ ]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [ ]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function